{% extends "layout.html" %}


{% block content %}
  <div class="container">
    <h1 class="text-white font-brand">Forgotten password</h1>

    <div class="card-paper p-2 rounded-lg">

      <form accept-charset="UTF-8" role="form" action="{{ url_for('Users.post_forgot') }}" method="POST">
        <fieldset>
          <div class="form-group">
            <span>Please provide the email that was used for your account:</span>
            <input class="form-control" placeholder="Email" name="email" type="text">
          </div>

          <input class="btn btn-lg btn-danger btn-block" type="submit" value="Send password reset link">
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}

