{% extends "layout.html" %}
{% set active_page = "Users" %}

{% block content %}
  <div class="container">
    <h1 class="text-white font-brand">Users</h1>

    <div class="card-paper p-2 rounded-lg">


      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th>User</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {% for uinfo in users %}
          <tr>
            <td>{{ uinfo.email }}</td>
            <td>
              {{ uinfo.username }}
                <a href="{{ url_for('Users.get_edit', uid=uinfo.uid) }}" title="{{ uinfo.uid }}">Edit</a>
            </td>
            <td>
              {% if uinfo.created_at: %}
                {{ uinfo.created_at.ctime() }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}

