{% extends "layout.html" %}
{% set active_page = "Welcome" %}

{% block content %}
  <div id="app-pages">
    <page-meta ref="page-meta"></page-meta>
  </div>
{% endblock %}

{% block styles %}
  <link type="text/css" rel="stylesheet" href="/comments/css/style.css"/>
{% endblock %}

{% block scripts %}
  {% if js_transpiled %}
     <script defer type="text/javascript" src="/js/client.min.js"></script>

     <script defer type="module">
       window.onload = function() {
  {% else %}
     <script type="module">
       import {init_pages} from '/js/mains.js';
       import {init_api} from '/js/api.mjs';
       {
  {% endif %}
       {% if current_user.is_authenticated %}
         const user = {{ current_user.view_full|tojson }};

         init_api(user.access_token);
       {% else %}
         const user = null;
       {% endif %}

         init_pages('meta', {{ settings|tojson }}, user, '{{ meta_id }}', {{ metabolite.view|ejson|safe }});
       }
    </script>
{% endblock %}