{% extends "layout.html" %}
{% set active_page = "Welcome" %}

{% block content %}
  <div id="app-pages">
    <page-meta ref="page-meta"></page-meta>
  </div>
{% endblock %}

{% block scripts %}
  {% if js_transpiled %}
     <script defer type="text/javascript" src="/js/client.min.js"></script>

     <script defer type="module">
       // current_user.view|tojson

       window.onload = function() {
         init_pages('meta', {{ settings|tojson }}, {}, '{{ meta_id }}', {{ metabolite.view|tojson }});
       }
    </script>
  {% else %}
     <script type="module">
       import {init_pages} from '/js/mains.js';

       init_pages('meta', {{ settings|tojson }}, {}, '{{ meta_id }}', {{ metabolite.view|tojson }});
    </script>
  {% endif %}
{% endblock %}