<!DOCTYPE html>
{% set navigation_bar = [
  ('/', 'Browse'),
  ('/', 'Upload'),
  ('/', 'Citing'),
  ('/', 'Tools'),
  ('/', 'Contact'),
  ('/', 'Login'),
  ('/', 'Terms'),
  ('/', 'Sources')
] -%}
{% set active_page = active_page | default('index') -%}
{% set title = active_page + ' - MetaSeeker' %}

<html>
<head>
  <title>{{ title }}</title>

  {% block head %}{% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  {% block og %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://example.com" />
    <meta property="og:image" content="/img/banner.png" />
    <meta property="og:description" content="MetaSeeker - search and find metabolites from any database" />
  {% endblock %}

  <!-- Bootstrap & Vue.js & Bootstrap-vue -->
  <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap-vue.min.css"/>

  <!-- vendor js -->
  <script src="/js/vendor/vue.min.js" defer></script>
  <script src="/js/vendor/polyfill.min.js" defer></script>
  <script src="/js/vendor/bootstrap-vue.min.js" defer></script>
  <script defer type="text/javascript" src="/js/vendor/ra.min.js"></script>

  <!-- Custom javascript -->
  {% block scripts %}{% endblock %}

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  {% block styles %}{% endblock %}

</head>
<body>

  <nav class="navbar navbar-expand-md bg-brand">
    <a class="navbar-brand text-white" href="/">
      <i class="ra ra-3x ra-microscope"></i>
      MetaSeeker
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<!--    left menu-->
<!--    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">-->
<!--    </div>-->

      <div class="navbar-nav ml-auto">
        <ul class="navbar-nav">
          {% for href, name in navigation_bar %}
          <li class="nav-item {% if name == active_page %}active{% endif %}">
            <a href="{{ href }}" class="nav-link text-white">{{ name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
  </nav>


  {% block content %}{% endblock %}

</body>
</html>