{% extends "layout.html" %}
{% set active_page = "Welcome" %}

{% block content %}
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Tst</h1>
      <p class="lead">It really ties the web together.</p>
      <hr class="my-4">

      <h3 class="lead">Primary Database IDs</h3>
      <div class="badge badge-secondary p-2 bg-primary text-white">Chebi ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">Pubchem Compound ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">Pubchem Substance ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">HMDB ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">Chemspider ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">Lipidmaps ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">KEGG Compound ID</div>
      <div class="badge badge-secondary p-2 bg-primary text-white">CAS ID</div>

      <h3 class="lead">Text Structural formats</h3>
      <div class="badge badge-secondary p-2 bg-secondary text-primary">SMILES</div>
      <div class="badge badge-secondary p-2 bg-brand text-primary">InChI</div>
      <div class="badge badge-secondary p-2 bg-info text-primary">Formula</div>

      <h3 class="lead">Structural formats</h3>
      <div class="badge badge-secondary p-2 bg-warning text-danger">Image</div>
      <div class="badge badge-secondary p-2 bg-warning text-danger">Dynamic Formula</div>
      <div class="badge badge-secondary p-2 bg-warning text-danger">3D ?</div>
      <div class="badge badge-secondary p-2 bg-warning text-danger">2D ?</div>



      <div class="badge badge-secondary p-2 bg-purple text-purple">purple</div>
      <div class="badge badge-secondary p-2 bg-warning text-warning">warning</div>
      <div class="badge badge-secondary p-2 bg-danger text-danger">danger</div>
      <div class="badge badge-secondary p-2 bg-secondary text-secondary">secondary</div>
      <div class="badge badge-secondary p-2 bg-success text-success">success</div>
      <div class="badge badge-secondary p-2 bg-brand text-brand">brand</div>
      <div class="badge badge-secondary p-2 bg-primary text-primary">primary</div>
      <div class="badge badge-secondary p-2 bg-info text-info">info</div>
      <div class="badge badge-secondary p-2 bg-light text-light">light</div>
      <div class="badge badge-secondary p-2 bg-dark text-dark">dark</div>

    </div>

  </div>
{% endblock %}
