{% extends "layout.html" %}
{% set active_page = "Welcome" %}

{% block content %}
  <div class="container">



      <div id="app-pages">
      </div>



        <div v-if="page == 'index'">
          <test1></test1>
        </div>
        <div v-if="page == 'anyad'">
          Bruuuuh

        </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if js_transpiled %}
     <script defer type="text/javascript" src="/js/client.min.js"></script>

     <script defer type="module">
       // current_user.view|tojson

       window.onload = function() {
         init_pages({{ settings|tojson }}, {});
       }
    </script>
  {% else %}
     <script type="module">
       import {init_pages} from '/js/mains.js';

       init_pages({}, {});
    </script>
  {% endif %}
{% endblock %}