@font-face {
  font-family: 'ra';
  src:
    url('fonts/ra.ttf?buycrm') format('truetype'),
    url('fonts/ra.woff?buycrm') format('woff'),
    url('fonts/ra.svg?buycrm#ra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ra-"], [class*=" ra-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ra' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ra-acid-blob:before {
  content: "\e900";
}
.ra-aerosol:before {
  content: "\e901";
}
.ra-antibody:before {
  content: "\e902";
}
.ra-atom:before {
  content: "\e903";
}
.ra-atom-core:before {
  content: "\e904";
}
.ra-biohazard:before {
  content: "\e905";
}
.ra-butterfly-warning:before {
  content: "\e906";
}
.ra-caduceus:before {
  content: "\e907";
}
.ra-chart:before {
  content: "\e908";
}
.ra-checkbox-tree:before {
  content: "\e909";
}
.ra-chemical-bolt:before {
  content: "\e90a";
}
.ra-corked-tube:before {
  content: "\e90b";
}
.ra-crafting:before {
  content: "\e90c";
}
.ra-cubeforce:before {
  content: "\e90d";
}
.ra-cubes:before {
  content: "\e90e";
}
.ra-digital-trace:before {
  content: "\e90f";
}
.ra-dna2:before {
  content: "\e910";
}
.ra-dolphin:before {
  content: "\e911";
}
.ra-doubled:before {
  content: "\e912";
}
.ra-eyedropper:before {
  content: "\e913";
}
.ra-h2o:before {
  content: "\e914";
}
.ra-hazard-sign:before {
  content: "\e915";
}
.ra-health-capsule:before {
  content: "\e916";
}
.ra-house:before {
  content: "\e917";
}
.ra-id-card:before {
  content: "\e918";
}
.ra-info:before {
  content: "\e919";
}
.ra-life-buoy:before {
  content: "\e91a";
}
.ra-magnifying-glass:before {
  content: "\e91b";
}
.ra-medicine-pills:before {
  content: "\e91c";
}
.ra-medicines:before {
  content: "\e91d";
}
.ra-microscope:before {
  content: "\e91e";
}
.ra-open-folder-1:before {
  content: "\e91f";
}
.ra-open-folder:before {
  content: "\e920";
}
.ra-parmecia:before {
  content: "\e921";
}
.ra-pencil:before {
  content: "\e922";
}
.ra-pencil-ruler:before {
  content: "\e923";
}
.ra-pie-chart:before {
  content: "\e924";
}
.ra-poison-bottle:before {
  content: "\e925";
}
.ra-poison-cloud:before {
  content: "\e926";
}
.ra-pull:before {
  content: "\e927";
}
.ra-pulse:before {
  content: "\e928";
}
.ra-radiations:before {
  content: "\e929";
}
.ra-radioactive:before {
  content: "\e92a";
}
.ra-scales:before {
  content: "\e92b";
}
.ra-virus:before {
  content: "\e92c";
}
.ra-white-book:before {
  content: "\e92d";
}
