{% extends "layout.html" %}
{% set active_page = "Welcome" %}

{% block content %}
  <div class="container">

    <!-- pages app. index is rendered inside this -->
    <div id="app-pages">

      <page-index url="/" ref="page-index" inline-template>
        <!-- pre-rendered index page -->
        <div id="tpl-page-index" v-if="show">
          <!-- Search bar area -->
          <div class="jumbotron mt-4">
            <!-- this shit gotta stay here for SEO -->
            <h3 class="title text-success text-center">Welcome to MetaSeeker!</h3>
            <p class="font-light">This is a public derivative metabolome database, dedicated to rapidly identify and search metabolites.</p>

            <search-form ref="search-form" @search="open_page('search')" url="{{ url_for('SearchApi:get') }}" :save-predecessor-form="true">
              <!-- fake search form, the real one is in a vue template -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="ra ra-3x ra-magnifying-glass"></span></span>
                </div>

                <textarea class="form-control" placeholder="Search for ID, Chemical name, Structure string, etc..."></textarea>
              </div>
            </search-form>
            
            <div class="mt-4">
              <h6 class="text-center">Other services</h6>

              <div class="row">
                <div class="col-4 text-center p-4">
                  <a class="btn btn-link btn-block pb-3 text-brand" href="{{ url_for('Home:get_molsearch') }}">Molecular Search</a>
                  <p class="text-justify">Search the database using an interactive 2D molecule editor. Can be used to discover novel compounds.</p>
                </div>

                <div class="col-4 text-center p-4">
                  <a class="btn btn-link btn-block pb-3 text-brand" href="{{ url_for('Home:get_discovery') }}">Discovery</a>
                  <p class="text-justify">This service resolves partial datasets of external database identifiers. Can be used to normalize a set of metabolites with incomplete database references.</p>
                </div>

                <div class="col-4 text-center p-4">
                  <a class="btn btn-link btn-block pb-3 text-brand" href="{{ url_for('Metabolites:get') }}">Browse metabolites</a>
                  <p class="text-justify">Browse our database manually.</p>
                </div>

                <div class="col-4 text-center p-4">
                  <a class="btn btn-link btn-block pb-3 text-brand" href="{{ url_for('Home:get_api') }}">HTTP API</a>
                  <p class="text-justify">Use our services through R and Py packages, or the HTTP Rest service.</p>
                </div>
              </div>



            </div>

          </div>
        </div>
      </page-index>

      <page-search url="/" ref="page-search" :hard-links="true"></page-search>
    </div>

    <div id="static-page-description" class="row">
      <div class="col-md-10 offset-md-1">

        <!-- Long text pages us -->
        <div class="card">
          <div class="card-body bg-dark rounded">
            <p class="text-justify text-white">MetaSeeker an experimental metabolite index service. You can search for metabolite records from most known public databases with various ways. Moreover, you can use our search services through a unified API. Sara please add a more academic description here.</p>
          </div>
        </div>

        <hr class="my-2">

        <h3 class="lead">How to cite us</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if js_transpiled %}
    <script defer type="text/javascript" src="/js/client.min.js"></script>

    <script defer type="module">
      window.onload = function() {
  {% else %}
    <script type="module">
      import {init_pages} from '/js/mains.js';
      import {init_api} from '/js/api.mjs';
      {
  {% endif %}
      {% if current_user.is_authenticated %}
        const user = {{ current_user.view_full|tojson }};

        init_api(user.access_token);
      {% else %}
        const user = null;
      {% endif %}
        init_api(null);

        init_pages('index', {{ settings|tojson }}, user);
      }
    </script>
{% endblock %}